{% include 'core_header.html' %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" >
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Json Configuration</h1>
  </div>
  <div class="table-responsive">


    <pre>{
  "settings": {
    "accounts": {
      "purevpn": {
        "username": "purevpn0s9090",
        "password": "***"
      },
      "expressvpn": {
        "username": "f7y4mdszhyipysxlbea62l38",
        "password": "***"
      },
      "nordvpn": {
        "username": "Saqib.rizwan@gaditek.com",
        "password": "***"
      },
      "ipvanish": {
        "username": "saadgatta@gmail.com",
        "password": "***"
      }
    },
    "jobs": {
      "110.93.203.99": {
        "notes": "Local PC Testing from Office",
        "comparisions": [
          {
            "vendor": "purevpn",
            "dest_address": "lux-25-07-03",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": " "
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-11-09-04",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          }
        ]
      },
      "23.96.108.128": {
        "notes": "US-to-UK",
        "comparisions": [
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-01-01",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-01-02",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-01-03",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-01-04",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-07-01",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-11-01",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-11-02",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-16-01",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-16-02",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-16-03",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-16-04",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-16-05",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-16-06",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-16-07",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-16-08",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-16-09",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-16-10",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          },
          {
            "vendor": "purevpn",
            "dest_address": "lux-02-16-11",
            "proto": "udp",
            "port": "1194",
            "download_cdn": "",
            "download_static": ""
          }
        ]
      }
    }
  }
}</pre>
    
  </div>
</main>

<script type="text/javascript">

$(function(){
  
})
</script>
{% include 'core_footer.html' %}
  