<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a {%- if request.path == "/home" %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="/home"> <span data-feather="home"></span> Dashboard </a>
      </li>
      {%- if request.path == "/iteration-details" %}
      <li class="nav-item">
        <a {%- if request.path == "/iteration-details" %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="#"> <span data-feather="file"></span> Iteration Details </a>
      </li>
      {% endif %}
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>More Options</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a {%- if request.path == "/list-iterations" %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="/list-iterations">
          <span data-feather="file-text"></span>
          List Iterations
        </a>
      </li>

      <li class="nav-item">
        <a {%- if request.path == "/add-iteration" %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="/add-iteration">
          <span data-feather="plus"></span>
          Add Iteration
        </a>
      </li>



      <li class="nav-item">
        <a {%- if request.path == "/ip-whitelist-panel" %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="/ip-whitelist-panel">
          <span data-feather="server"></span>
          IP Whitelist
        </a>
      </li>

      <!--
      <li class="nav-item">
        <a {%- if request.path == "/test-ratio-compare" %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="/test-ratio-compare">
          <span data-feather="list"></span>
          Ratio Degradation Stats
        </a>
      </li>
      -->
      <li class="nav-item">
        <a {%- if request.path == "/test-ratio-compare1" %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="/test-ratio-compare1">
          <span data-feather="list"></span>
          Ratio Degradation Stats
        </a>
      </li>

      <li class="nav-item">
        <a {%- if request.path == "/customize-query" %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="/customize-query">
          <span data-feather="clock"></span>
          Historic Iterations
        </a>
      </li>

      <li class="nav-item">
        <a {%- if request.path == "/help" %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="/help">
          <span data-feather="help-circle"></span>
          Help
        </a>
      </li>
    </ul>
  </div>
</nav>
