{% include 'core_header.html' %}


<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>




<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" >
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">List Jobs</h1>

  </div>

  <div class="table-responsive">

  	{% if result.show_details is defined %}

  		{{ result.host_machine._id }} <br>

  		<td><a href="#" class="edit" id={{ result.host_machine._id }}  >{{ result.host_machine.host_address }}</a></td>

  		<br>
  		{{ result.host_machine.machine_notes }}
  		<td><a class="pull-right" target="_blank" href="/add-vendor?&id={{ result.host_machine._id }}&host_ip={{ result.host_machine.host_address }}">Add Vendor</a></td><br>
  		<br>  		

  		<table class="table">
	        <thead>
	          <tr>
	            <th>#</th>
	            <th>Vendor</th>
	            <th>Destination Address</th>
	            <th>Port</th>
	            <th>D1</th>
	            <th>D2</th>
	            <th>Config</th>
	            <th>Options</th>	            
	          </tr>
	        </thead>
	      {% for item in result.iterations_list %}
	        <tr>
	          <td>#</td>
	          <td>{{ item.vpn_provider }}</td>
	          <td>{{ item.dest_address }}</td>
	          <td>{{ item.vpn_port }}</td>
	          <td>{{ item.download_file_1 }}</td>
	          <td>{{ item.download_file_2 }}</td>
	          <td><a target="_blank" href="/view-config/{{ item._id }}">View Config</a></td>
	          <!-- <td><a target="_blank" href="/update-record/{{ item._id }}"><i class='fa fa-pencil-square-o' aria-hidden='true'></i></a></td> -->
	          <td><a target="_blank" href="/update-record?&id={{ item._id }}"><i class='fa fa-pencil-square-o' aria-hidden='true'></i></a> | <a target="_blank" href="/delete-job/{{ item._id }}"><i class='fa fa-trash' aria-hidden='true'></i></a></td>	          
	        </tr>
	      {% endfor %}
	    </table>
  	{% else %}

	  	<table class="table">
	        <thead>
	          <tr>
	            <th>#</th>
	            <th>Host Address</th>
	            <th>Notes</th>
	            <th>Options</th>
	          </tr>
	        </thead>
	      {% for item in result.hosts %}
	        <tr>
	          <td>#</td>
	          <td>{{ item.host_address }}</td>
	          <td>{{ item.machine_notes }}</td>
	          <td>
	            <a href="/list-iterations/{{ item._id }}">Open</a>&nbsp;|&nbsp;
	            <a href="/delete-iterations/{{ item._id }}">Delete</a>
	          </td>
	        </tr>
	      {% endfor %}
	    </table>

  	{% endif %}
   
    
  </div>

</main>

<script type="text/javascript">

$(document).ready(function(){


    $('.edit').editable({
    	mode: 'inline',
        type: 'text',
        pk: 1,
        url: '/ip-edit'
    });

	$.fn.editableform.buttons = 
 '<button type="submit" class="btn btn-primary btn-sm editable-submit" style="margin:5px;"><i> OK </i></button>' + '<button type="submit" class="btn btn-primary btn-sm editable-submit"><i> X </i></button>';         



});

</script>
{% include 'core_footer.html' %}
  