{% include 'core_header.html' %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" >
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Help / Readme</h1>
  </div>
  <div class="table-responsive">

    <pre>
      - Users can only be added manually via CLI

      - Following Params are must required when adding Client configs for VPN Providors (except PureVPN)
      
        <b>remote REMOTE_DNS REMOTE_PORT</b>
        <b>proto DIALING_PROTO</b>
        <b>auth-user-pass LOGIN_PATH</b>

      
    </pre>

    
  </div>
</main>

<script type="text/javascript">

$(function(){
  
})
</script>
{% include 'core_footer.html' %}
  